matplotlib
numpy
pandas
darts
meteostat
holidays
seaborn
ipykernel
ipywidgets
scikit-learn
xgboost
graphviz
statsmodels
yfinance
plotly
nbformat
statsmodels
gym
prophet
tensorflow
tabulate
cvxpy
cvxopt
ecos