matplotlib
numpy
pandas
darts
meteostat
holidays
seaborn
ipykernel
scikit-learn
xgboost
graphviz
statsmodels
yfinance
plotly
nbformat
statsmodels
gym
ipywidgets
prophet
tensorflow
tabulate
cvxpy
cvxopt
ecos